body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-app {
  background-color: #3f0e40;
}
.bg-button {
  background-color: #651866;
}
.d-flex {
  display: flex;
}
/* test colors:
 .bg-app{
  background-color: rgb(35, 39, 42);
}
.bg-button{
  background-color: rgb(114, 137, 218);
} */